body {
	/* https://css-tricks.com/perfect-full-page-background-image/ */
	background: url("../images/outerspace_landscape.jpeg") no-repeat;
	background-size: cover;
	padding-top: 60px;
}

nav a:hover {
	color: black;
}

nav {
	background-color: grey;
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
}

nav img {
	height: 80%;
	margin: 5px 5px 0 50px;
	border-radius: 50%;
	border: 1px solid black;
}

ul {
	list-style: none;
	vertical-align: bottom;
}

ul, li {
	display: inline-block;
}

li::after {
	content: " | ";
}

.box {
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	margin: 150px auto 0 auto;
	position: relative;
}

.pet {
	height: 200px;
	width: 200px;
	position: absolute;
}

.cat {
	top: -100px;
	left: -100px;
}

.dog {
	right: -100px;
	bottom: -100px;
}