nav {
	background-color: grey;
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
	margin: 0;
	left: 0;
}

nav img {
	height: 80%;
	margin: 5px 5px 0 50px;
	border-radius: 50%;
	border: 1px solid black;
	vertical-align: center;
}

nav li {
	list-style: none;
	display: inline-block;
}

li::after {
	content: " | ";
}

body {
	/* https://css-tricks.com/perfect-full-page-background-image/ */
	background-image: url("images/outerspace_landscape.jpeg") ;
	background-size: cover;
}

main img {
	border-radius: 0;
	border: 0;
	height: 200px;
	width: 200px;
}

.box {
	border: 10px green dotted;
	width: 600px;
	height: 300px;
}

.cat {

}

.dog {

}